.ce-suggestion {
  position: absolute;
  z-index: 9;
  min-width: 120px;
  max-width: 400px;
  max-height: 200px;
  overflow-y: auto;
  padding: 4px 0;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  font-size: 14px;
  color: #333333;
}

.ce-suggestion-item {
  padding: 6px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover,
  &.active {
    background: #f2f6fc;
  }
}

.ce-suggestion-empty {
  padding: 6px 12px;
  white-space: nowrap;
  color: #999999;
}
